body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
canvas {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.gallery-container {
  margin-top: 20px;
}
.checkbox {
  display: flex;
  align-items: left;
}
.input {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}
.input label {
margin-right: 5px;
white-space: nowrap;
}
.ec-site-name input{
  width: 70px;
}
.file-name-prefix input{
  width: 80px;
}
.limit-number input {
  width: 40px;
}
.image-width input {
  width: 45px;
}
.image-height input {
  width: 45px;
}
.control-row {
  display: flex;
  align-items: start;
  /* margin-left: 60px; */
}
.px {
  margin-left: 5px;
}
.download-zip-button {
  width: 320px;
  text-align: left;
}